<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-12">
          <label>Server name</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="serverName"
          >
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">

          <p> {{serverName}} </p>
        </div>
      </div>
      <button
        class="btn btn-primary"
        [disabled]="!serverName"
        (click)="onCreateServer()"
      >
        Add new server
      </button>
      <p
        *ngIf="serverCreated; else noServer"
        class="server-creation-status"
      >
        {{serverCreationStatus}}
      </p>
      <ng-template #noServer>
        <p class="server-creation-status">No Server has been created</p>
      </ng-template>
      <div class="row">
        <div class="col-xs-6">
          <app-server *ngFor="let server of servers"></app-server>
        </div>
        <div class="col-xs-6">
          <ul>
            <li *ngFor="let server of servers">
              {{server}}
            </li>
          </ul>
          <div *ngFor="let server of servers;let i = index; count as j">
            {{server + ' index: ' + i + ' server count: ' + j}}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
